templater/assets/colpatria/input/mbc.account.querysaproductdetails/src/mbc.account.querysaproductdetails.wsproxy/colpatria/local/services/mbc.account.querysaproductdetails/wsdl/account.querysaproductdetails.xsd

<xsd:schema targetNamespace="http://www.colpatria.com/esb/services/sa/querysaproductdetails/" xmlns="http://www.colpatria.com/ents/esb/MessageFormat-v1.0" xmlns:mrm="http://www.colpatria.com/esb/services/sa/querysaproductdetails/" xmlns:esb="http://www.colpatria.com/ents/esb/MessageFormat-v1.0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenv11="http://schemas.xmlsoap.org/soap/envelope/" xmlns:tns="http://www.colpatria.com/esb/services/sa/querysaproductdetails/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:element name="querySaProductDetailsRequest" type="mrm:_querySaProductDetailsRequest"/>
   <xsd:complexType name="_querySaProductDetailsRequest">
      <xsd:sequence>
         <xsd:element form="qualified" name="requestHeader" type="mrm:requestHeader"/>
         <xsd:element form="qualified" maxOccurs="1" minOccurs="0" name="querySaProductDetailsRq" type="mrm:querySaProductDetailsRq"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="querySaProductDetailsRq">
      <xsd:sequence>
         <xsd:element form="qualified" name="product" type="tns:productRq"/>
         <xsd:element form="qualified" name="customer" type="mrm:customerRq"/>
      </xsd:sequence>
   </xsd:complexType>
   <!--header-->
   <xsd:complexType name="requestHeader">
      <xsd:sequence>
         <xsd:element form="qualified" name="esbHeader" type="mrm:esbHeaderRq"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="esbHeaderRq">
      <xsd:sequence>
         <xsd:element form="qualified" maxOccurs="1" minOccurs="1" name="transactionId">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:minLength value="1"/>
                  <xsd:maxLength value="48"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element form="qualified" maxOccurs="1" minOccurs="0" name="serviceCode">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:minLength value="0"/>
                  <xsd:maxLength value="9"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element form="qualified" maxOccurs="1" minOccurs="0" name="operationCode">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:minLength value="1"/>
                  <xsd:maxLength value="9"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element form="qualified" maxOccurs="1" minOccurs="1" name="requestUser">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:minLength value="1"/>
                  <xsd:maxLength value="40"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element form="qualified" maxOccurs="1" minOccurs="1" name="requestSystem">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:minLength value="1"/>
                  <xsd:maxLength value="4"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element form="qualified" maxOccurs="1" minOccurs="0" name="channel">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:minLength value="0"/>
                  <xsd:maxLength value="20"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element form="qualified" maxOccurs="1" minOccurs="0" name="host">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:minLength value="1"/>
                  <xsd:maxLength value="40"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element form="qualified" maxOccurs="1" minOccurs="0" name="executionMode">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="1"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element form="qualified" maxOccurs="1" minOccurs="0" name="operationCountry">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:minLength value="1"/>
                  <xsd:maxLength value="4"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element form="qualified" maxOccurs="1" minOccurs="0" name="operationBank">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:minLength value="1"/>
                  <xsd:maxLength value="20"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element form="qualified" maxOccurs="1" minOccurs="1" name="transactionDate" type="xsd:date"/>
         <xsd:element form="qualified" maxOccurs="1" minOccurs="1" name="transactionTime" type="xsd:time"/>
         <xsd:element form="qualified" maxOccurs="1" minOccurs="0" name="officeCode">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:minLength value="1"/>
                  <xsd:maxLength value="3"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element form="qualified" maxOccurs="1" minOccurs="0" name="numberPages">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:minLength value="1"/>
                  <xsd:maxLength value="2"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element form="qualified" maxOccurs="1" minOccurs="0" name="totPages">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:minLength value="1"/>
                  <xsd:maxLength value="2"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element form="qualified" maxOccurs="1" minOccurs="0" name="institutionCode">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:minLength value="1"/>
                  <xsd:maxLength value="3"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element form="qualified" maxOccurs="1" minOccurs="0" name="usernameToken" type="mrm:UsernameToken"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="customerRq">
      <xsd:sequence>
         <xsd:element form="qualified" name="idType" minOccurs="1" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="1"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element form="qualified" name="idNumber" minOccurs="1" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:minLength value="1"/>
                  <xsd:maxLength value="12"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="productRq">
      <xsd:sequence>
         <xsd:element form="qualified" name="code" minOccurs="1" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:int">
                  <xsd:totalDigits value="3"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element form="qualified" name="number" minOccurs="1" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:minLength value="1"/>
                  <xsd:maxLength value="12"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <!--campo de la cabecera-->
   <xsd:complexType name="UsernameToken">
      <xsd:sequence>
         <xsd:element form="qualified" maxOccurs="1" minOccurs="0" name="userName">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:minLength value="1"/>
                  <xsd:maxLength value="40"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element form="qualified" maxOccurs="1" minOccurs="0" name="password">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:minLength value="1"/>
                  <xsd:maxLength value="64"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <!--campos respuesta-->
   <xsd:element name="querySaProductDetailsResponse" type="mrm:_querySaProductDetailsResponse"/>
   <xsd:complexType name="_querySaProductDetailsResponse">
      <xsd:sequence>
         <xsd:element form="qualified" name="responseHeader" type="mrm:responseHeader"/>
         <xsd:element form="qualified" name="querySaProductDetailsRs" type="mrm:querySaProductDetailsRs" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <!--cabecera respuesta-->
   <xsd:complexType name="responseHeader">
      <xsd:sequence>
         <xsd:element form="qualified" name="status" type="mrm:status"/>
         <xsd:element form="qualified" name="esbHeader" type="mrm:esbHeader"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="status">
      <xsd:sequence>
         <xsd:element form="qualified" maxOccurs="1" minOccurs="1" name="statusCode">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:minLength value="1"/>
                  <xsd:maxLength value="15"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element form="qualified" maxOccurs="1" minOccurs="0" name="statusDesc">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:minLength value="0"/>
                  <xsd:maxLength value="100"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="error" type="mrm:error"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="error">
      <xsd:sequence>
         <xsd:element form="qualified" maxOccurs="1" minOccurs="0" name="origin">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:minLength value="0"/>
                  <xsd:maxLength value="100"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element form="qualified" maxOccurs="1" minOccurs="0" name="errorCode">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:minLength value="0"/>
                  <xsd:maxLength value="10"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element form="qualified" maxOccurs="1" minOccurs="0" name="severity">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:minLength value="0"/>
                  <xsd:maxLength value="10"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element form="qualified" maxOccurs="1" minOccurs="0" name="description">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:minLength value="0"/>
                  <xsd:maxLength value="500"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="esbHeader">
      <xsd:sequence>
         <xsd:element form="qualified" maxOccurs="1" minOccurs="1" name="transactionId">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:minLength value="1"/>
                  <xsd:maxLength value="48"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element form="qualified" maxOccurs="1" minOccurs="1" name="transactionDate" type="xsd:date"/>
         <xsd:element form="qualified" maxOccurs="1" minOccurs="1" name="transactionTime" type="xsd:time"/>
         <xsd:element form="qualified" maxOccurs="1" minOccurs="0" name="numberPages">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:minLength value="0"/>
                  <xsd:maxLength value="2"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element form="qualified" maxOccurs="1" minOccurs="0" name="totPages">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:minLength value="0"/>
                  <xsd:maxLength value="2"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <!--campos de la respuesta-->
   <xsd:complexType name="querySaProductDetailsRs">
      <xsd:sequence>
         <xsd:element form="qualified" name="product" type="tns:productRs" maxOccurs="1" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="productRs">
      <xsd:sequence>
         <xsd:element form="qualified" name="code" minOccurs="1" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:int">
                  <xsd:totalDigits value="3"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element form="qualified" name="name" minOccurs="1" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
			      <xsd:minLength value="1"/>
                  <xsd:maxLength value="40"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element form="qualified" name="number" minOccurs="1" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
				  <xsd:minLength value="1"/>
                  <xsd:maxLength value="20"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element form="qualified" name="status" minOccurs="1" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:int">
                  <xsd:enumeration value="1"/>
                  <xsd:enumeration value="3"/>
                  <xsd:enumeration value="6"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element form="qualified" name="currentBalance" minOccurs="1" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:decimal">
                  <xsd:fractionDigits fixed="true" value="2"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element form="qualified" name="availableBalance" minOccurs="1" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:decimal">
                  <xsd:fractionDigits fixed="true" value="2"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element form="qualified" name="OnHoldBalance" minOccurs="1" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:decimal">
                  <xsd:fractionDigits fixed="true" value="2"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
</xsd:schema>