templater/assets/colpatria/input/mbc.customer.authenticationget/src/mbc.customer.authenticationget.wsproxy/colpatria/local/services/mbc.customer.authenticationget/wsdl/customer.authenticationget.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.colpatria.com/esb/services/sa/customerAuthenticationGet/" xmlns="http://www.colpatria.com/ents/esb/MessageFormat-v1.0" xmlns:esb="http://www.colpatria.com/ents/esb/MessageFormat-v1.0" xmlns:mrm="http://www.colpatria.com/esb/services/sa/customerAuthenticationGet/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenv11="http://schemas.xmlsoap.org/soap/envelope/" xmlns:tns="http://www.colpatria.com/esb/services/sa/customerAuthenticationGet/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
   <xsd:element name="customerAuthenticationGetRq" type="mrm:_customerAuthenticationGetRq"/>
   <xsd:complexType name="_customerAuthenticationGetRq">
      <xsd:sequence>
         <xsd:element form="qualified" maxOccurs="1" minOccurs="0" name="requestHeader" type="mrm:requestHeader"/>
         <xsd:element form="qualified" maxOccurs="1" minOccurs="1" name="authenticationGetRq" type="mrm:authenticationGetRq"/>
      </xsd:sequence>
   </xsd:complexType>
   <!--header-->
   <xsd:complexType name="requestHeader">
      <xsd:sequence>
         <xsd:element form="qualified" name="esbHeader" type="mrm:esbHeaderRq"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="esbHeaderRq">
      <xsd:sequence>
         <xsd:element form="qualified" maxOccurs="1" minOccurs="1" name="transactionId">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:minLength value="1"/>
                  <xsd:maxLength value="48"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element form="qualified" maxOccurs="1" minOccurs="1" name="serviceCode">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:minLength value="0"/>
                  <xsd:maxLength value="9"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element form="qualified" maxOccurs="1" minOccurs="0" name="operationCode">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:minLength value="1"/>
                  <xsd:maxLength value="9"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element form="qualified" maxOccurs="1" minOccurs="1" name="requestUser">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:minLength value="1"/>
                  <xsd:maxLength value="40"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element form="qualified" maxOccurs="1" minOccurs="0" name="requestSystem">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:minLength value="1"/>
                  <xsd:maxLength value="4"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element form="qualified" maxOccurs="1" minOccurs="0" name="channel">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:minLength value="0"/>
                  <xsd:maxLength value="20"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element form="qualified" maxOccurs="1" minOccurs="0" name="host">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:minLength value="1"/>
                  <xsd:maxLength value="40"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element form="qualified" maxOccurs="1" minOccurs="0" name="executionMode">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="1"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element form="qualified" maxOccurs="1" minOccurs="0" name="operationCountry">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:minLength value="1"/>
                  <xsd:maxLength value="4"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element form="qualified" maxOccurs="1" minOccurs="0" name="operationBank">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:minLength value="1"/>
                  <xsd:maxLength value="20"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element form="qualified" maxOccurs="1" minOccurs="1" name="transactionDate" type="xsd:date"/>
         <xsd:element form="qualified" maxOccurs="1" minOccurs="1" name="transactionTime" type="xsd:time"/>
         <xsd:element form="qualified" maxOccurs="1" minOccurs="0" name="officeCode">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:minLength value="1"/>
                  <xsd:maxLength value="3"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element form="qualified" maxOccurs="1" minOccurs="0" name="numberPages">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:minLength value="1"/>
                  <xsd:maxLength value="2"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element form="qualified" maxOccurs="1" minOccurs="0" name="totPages">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:minLength value="1"/>
                  <xsd:maxLength value="2"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element form="qualified" maxOccurs="1" minOccurs="0" name="institutionCode">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:minLength value="1"/>
                  <xsd:maxLength value="3"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element form="qualified" maxOccurs="1" minOccurs="0" name="usernameToken" type="mrm:usernameToken"/>
      </xsd:sequence>
   </xsd:complexType>
   <!--campo de la cabecera-->
   <xsd:complexType name="usernameToken">
      <xsd:sequence>
         <xsd:element form="qualified" maxOccurs="1" minOccurs="1" name="userName">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:minLength value="1"/>
                  <xsd:maxLength value="40"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element form="qualified" maxOccurs="1" minOccurs="1" name="password">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:minLength value="1"/>
                  <xsd:maxLength value="64"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <!--body-->
   <xsd:complexType name="authenticationGetRq">
	  <xsd:sequence>
         <xsd:element form="qualified" maxOccurs="1" minOccurs="1" name="idType">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="1"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element form="qualified" maxOccurs="1" minOccurs="1" name="idNumber">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:minLength value="1"/>
                  <xsd:maxLength value="17"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
		 <xsd:element form="qualified" maxOccurs="1" minOccurs="1" name="actionFlag">
            <xsd:simpleType>
               <xsd:restriction base="xsd:int">
                  <xsd:totalDigits value="2"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
		 <xsd:element form="qualified" maxOccurs="1" minOccurs="1" name="channelRegister">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="2"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
		 <xsd:element form="qualified" maxOccurs="1" minOccurs="1" name="channelPassword">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="64"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <!--campos respuesta-->
   <xsd:element name="customerAuthenticationGetRs" type="mrm:_customerAuthenticationGetRs"/>
   <xsd:complexType name="_customerAuthenticationGetRs">
      <xsd:sequence>
         <xsd:element form="qualified" maxOccurs="1" minOccurs="0" name="responseHeader" type="mrm:responseHeader"/>
         <xsd:element form="qualified" maxOccurs="1" minOccurs="0" name="authenticationGetRs" type="mrm:authenticationGetRs"/>
      </xsd:sequence>
   </xsd:complexType>
   <!--cabecera respuesta-->
   <xsd:complexType name="responseHeader">
      <xsd:sequence>
         <xsd:element form="qualified" name="status" type="mrm:status"/>
         <xsd:element form="qualified" name="esbHeader" type="mrm:esbHeader"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="status">
      <xsd:sequence>
         <xsd:element form="qualified" maxOccurs="1" minOccurs="1" name="statusCode">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:minLength value="1"/>
                  <xsd:maxLength value="15"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element form="qualified" maxOccurs="1" minOccurs="0" name="statusDesc">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:minLength value="0"/>
                  <xsd:maxLength value="100"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element form="qualified" maxOccurs="1" minOccurs="0" name="error" type="mrm:error"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="error">
      <xsd:sequence>
         <xsd:element form="qualified" maxOccurs="1" minOccurs="1" name="origin">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:minLength value="0"/>
                  <xsd:maxLength value="100"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element form="qualified" maxOccurs="1" minOccurs="1" name="errorCode">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:minLength value="0"/>
                  <xsd:maxLength value="10"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element form="qualified" maxOccurs="1" minOccurs="1" name="severity">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:minLength value="0"/>
                  <xsd:maxLength value="10"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element form="qualified" maxOccurs="1" minOccurs="1" name="description">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:minLength value="0"/>
                  <xsd:maxLength value="500"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="esbHeader">
      <xsd:sequence>
         <xsd:element form="qualified" maxOccurs="1" minOccurs="0" name="transactionId">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:minLength value="1"/>
                  <xsd:maxLength value="48"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element form="qualified" maxOccurs="1" minOccurs="0" name="transactionDate" type="xsd:date"/>
         <xsd:element form="qualified" maxOccurs="1" minOccurs="0" name="transactionTime" type="xsd:time"/>
         <xsd:element form="qualified" maxOccurs="1" minOccurs="0" name="numberPages">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:minLength value="0"/>
                  <xsd:maxLength value="2"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element form="qualified" maxOccurs="1" minOccurs="0" name="totPages">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:minLength value="0"/>
                  <xsd:maxLength value="2"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <!--campos de la respuesta-->
   <xsd:complexType name="authenticationGetRs">
      <xsd:sequence>
         <xsd:element form="qualified" maxOccurs="1" minOccurs="0" name="user" type="tns:userRs"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="userRs">
      <xsd:sequence>
         <xsd:element form="qualified" maxOccurs="1" minOccurs="0" name="idType">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="1"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
		 <xsd:element form="qualified" maxOccurs="1" minOccurs="0" name="idNumber">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="17"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element form="qualified" maxOccurs="1" minOccurs="0" name="passwordFlag">
            <xsd:simpleType>
               <xsd:restriction base="xsd:int">
                  <xsd:totalDigits value="1"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element form="qualified" maxOccurs="1" minOccurs="0" name="channelRegister">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="2"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element form="qualified" maxOccurs="1" minOccurs="0" name="customerName">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="40"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
		 <xsd:element form="qualified" maxOccurs="1" minOccurs="0" name="segmentCode">
            <xsd:simpleType>
               <xsd:restriction base="xsd:int">
                  <xsd:totalDigits value="2"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
		 <xsd:element form="qualified" maxOccurs="1" minOccurs="0" name="promoterCode">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="3"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
		 <xsd:element form="qualified" maxOccurs="1" minOccurs="0" name="branchCode">
            <xsd:simpleType>
               <xsd:restriction base="xsd:int">
                  <xsd:totalDigits value="3"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
		 <xsd:element form="qualified" maxOccurs="1" minOccurs="0" name="emailAddress1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="40"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
		 <xsd:element form="qualified" maxOccurs="1" minOccurs="0" name="emailAddress2">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="40"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
		 <xsd:element form="qualified" maxOccurs="1" minOccurs="0" name="celularPhone1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="13"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
		 <xsd:element form="qualified" maxOccurs="1" minOccurs="0" name="celularPhone2">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="13"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
</xsd:schema>