templater/assets/colpatria/input/mbc.customer.accountcreate/src/mbc.customer.accountcreate.wsproxy/colpatria/local/services/mbc.customer.accountcreate/wsdl/customer.accountcreate.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.colpatria.com/esb/services/customer/as/customerAccountCreate/" xmlns="http://www.colpatria.com/ents/esb/customer/asgeFormat-v1.0" xmlns:mrm="http://www.colpatria.com/esb/services/customer/as/customerAccountCreate/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenv11="http://schemas.xmlsoap.org/soap/envelope/" xmlns:tns="http://www.colpatria.com/esb/services/customer/as/customerAccountCreate/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="customerAccountCreateRq" type="mrm:_customerAccountCreateRq">
	</xsd:element>

	<xsd:complexType name="_customerAccountCreateRq">
		<xsd:sequence>
			<xsd:element form="qualified" name="requestHeader" type="mrm:requestHeader"/>
			<xsd:element form="qualified" maxOccurs="1" minOccurs="1" name="accountCreateRq" type="mrm:_accountCreateRq"/>
		</xsd:sequence>
	</xsd:complexType>

	<!-- campos del mencustomer/asje solicitud-->
	<xsd:complexType name="_accountCreateRq">
		<xsd:sequence>
			<xsd:element form="qualified" name="customer" type="mrm:customerRq"/>
			<xsd:element form="qualified" name="actionFlag" minOccurs="1" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:int">
						<xsd:totalDigits value="2"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element form="qualified" name="channelRegister" minOccurs="1" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"/>
						<xsd:maxLength value="2"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element form="qualified" name="newPassword" minOccurs="1" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"/>
						<xsd:maxLength value="64"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element form="qualified" name="have2DoFactor" minOccurs="1" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"/>
						<xsd:maxLength value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element form="qualified" name="reverseFlag" minOccurs="1" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"/>
						<xsd:maxLength value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- header -->
	<xsd:complexType name="requestHeader">
		<xsd:sequence>
			<xsd:element form="qualified" name="esbHeader" type="mrm:esbHeaderRq"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="esbHeaderRq">
		<xsd:sequence>
			<xsd:element form="qualified" maxOccurs="1" minOccurs="1" name="transactionId">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"/>
						<xsd:maxLength value="48"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element form="qualified" maxOccurs="1" minOccurs="1" name="serviceCode">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0"/>
						<xsd:maxLength value="9"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element form="qualified" maxOccurs="1" minOccurs="0" name="operationCode">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"/>
						<xsd:maxLength value="9"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element form="qualified" maxOccurs="1" minOccurs="1" name="requestUser">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"/>
						<xsd:maxLength value="40"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element form="qualified" maxOccurs="1" minOccurs="0" name="requestSystem">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"/>
						<xsd:maxLength value="4"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element form="qualified" maxOccurs="1" minOccurs="0" name="channel">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0"/>
						<xsd:maxLength value="20"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element form="qualified" maxOccurs="1" minOccurs="0" name="host">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"/>
						<xsd:maxLength value="40"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element form="qualified" maxOccurs="1" minOccurs="0" name="executionMode">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element form="qualified" maxOccurs="1" minOccurs="0" name="operationCountry">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"/>
						<xsd:maxLength value="4"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element form="qualified" maxOccurs="1" minOccurs="0" name="operationBank">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"/>
						<xsd:maxLength value="20"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element form="qualified" maxOccurs="1" minOccurs="1" name="transactionDate" type="xsd:date"/>
			<xsd:element form="qualified" maxOccurs="1" minOccurs="1" name="transactionTime" type="xsd:time"/>
			<xsd:element form="qualified" maxOccurs="1" minOccurs="0" name="officeCode">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"/>
						<xsd:maxLength value="3"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element form="qualified" maxOccurs="1" minOccurs="0" name="numberPages">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"/>
						<xsd:maxLength value="2"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element form="qualified" maxOccurs="1" minOccurs="0" name="totPages">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"/>
						<xsd:maxLength value="2"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element form="qualified" maxOccurs="1" minOccurs="0" name="institutionCode">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"/>
						<xsd:maxLength value="3"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element form="qualified" maxOccurs="1" minOccurs="0" name="usernameToken" type="mrm:UsernameToken"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="customerRq">
		<xsd:sequence>
			<xsd:element form="qualified" name="idType" minOccurs="1" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element form="qualified" name="idNumber" minOccurs="1" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"/>
						<xsd:maxLength value="17"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<!-- campo de la cabecera -->
	<xsd:complexType name="UsernameToken">
		<xsd:sequence>
			<xsd:element form="qualified" maxOccurs="1" minOccurs="1" name="userName">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"/>
						<xsd:maxLength value="40"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element form="qualified" maxOccurs="1" minOccurs="1" name="password">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"/>
						<xsd:maxLength value="64"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<!-- campos respuesta -->
	<xsd:element name="customerAccountCreateRs" type="mrm:_customerAccountCreateRs">
	</xsd:element>

	<xsd:complexType name="_customerAccountCreateRs">
		<xsd:sequence>
			<xsd:element form="qualified" maxOccurs="1" minOccurs="0" name="responseHeader" type="mrm:responseHeader"/>
			<xsd:element form="qualified" maxOccurs="1" minOccurs="0" name="accountCreateRs" type="mrm:_accountCreateRs"/>
		</xsd:sequence>
	</xsd:complexType>

	<!-- cabecera respuesta -->
	<xsd:complexType name="responseHeader">
		<xsd:sequence>
			<xsd:element form="qualified" name="status" type="mrm:status"/>
			<xsd:element form="qualified" name="esbHeader" type="mrm:esbHeader"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="esbHeader">
		<xsd:sequence>
			<xsd:element form="qualified" maxOccurs="1" minOccurs="1" name="transactionId">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"/>
						<xsd:maxLength value="48"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element form="qualified" maxOccurs="1" minOccurs="1" name="transactionDate" type="xsd:date"/>
			<xsd:element form="qualified" maxOccurs="1" minOccurs="1" name="transactionTime" type="xsd:time"/>
			<xsd:element form="qualified" maxOccurs="1" minOccurs="0" name="numberPages">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0"/>
						<xsd:maxLength value="2"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element form="qualified" maxOccurs="1" minOccurs="0" name="totPages">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0"/>
						<xsd:maxLength value="2"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="status">
		<xsd:sequence>
			<xsd:element form="qualified" maxOccurs="1" minOccurs="1" name="statusCode">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"/>
						<xsd:maxLength value="15"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element form="qualified" maxOccurs="1" minOccurs="0" name="statusDesc">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0"/>
						<xsd:maxLength value="100"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element form="qualified" maxOccurs="1" minOccurs="0" name="error" type="mrm:error"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="error">
		<xsd:sequence>
			<xsd:element form="qualified" maxOccurs="1" minOccurs="1" name="origin">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0"/>
						<xsd:maxLength value="100"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element form="qualified" maxOccurs="1" minOccurs="1" name="errorCode">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0"/>
						<xsd:maxLength value="10"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element form="qualified" maxOccurs="1" minOccurs="1" name="severity">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0"/>
						<xsd:maxLength value="10"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element form="qualified" maxOccurs="1" minOccurs="1" name="description">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0"/>
						<xsd:maxLength value="500"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<!-- campos de la respuesta -->
	<xsd:complexType name="_accountCreateRs"> 
		<xsd:sequence>
			<xsd:element form="qualified" name="user" type="tns:userRs" maxOccurs="1" minOccurs="0"/>
		</xsd:sequence>  
	</xsd:complexType>

	<xsd:complexType name="userRs">
		<xsd:sequence>
			<xsd:element form="qualified" name="idType" minOccurs="1" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"/>
						<xsd:maxLength value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element form="qualified" name="idNumber" minOccurs="1" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"/>
						<xsd:maxLength value="17"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element form="qualified" name="actionFlag" minOccurs="1" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:int">
						<xsd:totalDigits value="2"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element form="qualified" name="channelRegister" minOccurs="1" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"/>
						<xsd:maxLength value="2"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element form="qualified" name="customerName" minOccurs="1" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"/>
						<xsd:maxLength value="40"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element form="qualified" name="segmentCode" minOccurs="1" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:int">
						<xsd:totalDigits value="2"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element form="qualified" name="promoterCode" minOccurs="1" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"/>
						<xsd:maxLength value="3"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element form="qualified" name="branchCode" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:int">
						<xsd:totalDigits value="3"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element form="qualified" name="emailAddress1" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="40"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element form="qualified" name="emailAddress2" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="40"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element form="qualified" name="celularPhone1" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="13"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element form="qualified" name="celularPhone2" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="13"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>

